body {
    background-color: #FFFFFF;
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
}

.nav-bar {
    display: flex;
    color: #F9FAF8;
    background-color: #1F2937;
    padding: 20px 0 20px 100px;
    align-items: center;
    gap: 25px;
}

.header-logo img {
    width: 84px;
    height: 84px;
    margin-right: auto;
    color: white;
}

.header-link { 
    display: flex;
    margin-left: auto;
    padding: 0px 100px 0px 0px;
    gap: 25px;
}

.box-1{
    display: flex;
    color: #F9FAF8;
    background-color: #1F2937;
    align-items: center;
    justify-content: center;
    padding: 90px;
}

.description-main{
    flex-basis: 400px;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-right: 50px;
}

.description-main button {
    text-align: center;
    background: blue;
}